[data-theme="light"] {
  --color-bg: #fff;
  --color-surface: #EDEDED;
  --color-text: #111;
  --color-primary: #385ae9;
}

[data-theme="dark"] {
  --color-bg: #000;
  --color-surface: #242331;
  --color-text: #fff;
  --color-primary: #385ae9;
}