.games {
    margin-top: 50px;
}

.slider {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  cursor: pointer;
}

.track {
  display: flex;
  gap: 24px;
  width: max-content;
}

.left {
  animation: scrollLeft 70s linear infinite;
}

.right {
  animation: scrollRight 70s linear infinite;
}

.slider:hover .track {
  animation-play-state: paused;
}

.card {
  width: 360px;
  height: 190px;
  object-fit: cover;
  border-radius: 20px;
  flex: 0 0 auto;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}


@media (max-width: 480px) {
  .titles h1 {
    font-size: 32px;
  }
}