@font-face {
  font-family: "Meidinger";
  src: url("../assets/fonts/ClimateCrisisRegular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neometric';
  src: url('../assets/fonts/Neometric-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neometric';
  src: url('../assets/fonts/Neometric-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}